html,
body {
  margin: 0;
  color:white;
  background: #1a1a1a;
}

#App {
  font-family: sans-serif;
}

#page-wrap {
  text-align: center;
}

/* Navbar styles */

html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;

  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;
  padding: 0.50em;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: rgb(70, 70, 70);
  background: #1a1a1a;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ffffff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #292929;
  padding: 2.5em 1.5em;
  font-size: 1.75em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #292929;
}

/* Wrapper for item list */
.bm-item-list {
  color: #ffffff;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}



/* to give the div a full screen height to center the content on screen */
.center{
  height: 100vh;
}

.navimage {

  width: 75%;
  height: auto;
}

/* styling voor de header boven de tabs */

.header{
  margin: 5% 0;
  height:30%;
}

/* styling voor de tabs met content */

.tabs{
  width: 80%;
  padding: 0 0 5% 0;
  text-align: left;
}

.tab{
  padding: 1% 2%;
}

.text{
  padding: 2% 0% ;
}

imageText{
  width: 50%;
}

.content{
  padding: 0 8% 3%;
  text-align: left;
  font-size: 1.2em;
}

.contentImage{
  width: 40%;
  height: auto;
}

.singleImage{
  width: 80%;
  height: auto;
}